* {
    padding: 10px;
}


header {
    background-image: url(../img/bannerdesign.png);
    width: 100%;
    background-size: contain;
   text-align: center;
   align-items: center;
   font-family: outfit;
}


a {
    padding: 30px;
    text-decoration: none; 
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    color: black;
}

h2 {
    font-family: outfit;
    font-size: 40px;
    text-align: center;
}

h3 {
    font-family: DMsans;
    text-align: center;
}

h4 {
    text-align: center;
    align-items: center; 
}

img {
    width: 134px;
    
}

.mainParent {
    display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
}


.heading {
    background-color: rgba(2, 159, 101, 0.5);
    border-radius: 15px;
    width: 100%;
    margin: 20px;
}


footer {
    background-color: white;
    border: 2px solid black; 
    padding: 10px;
    font-family: redhat;
    bottom: 0;
 }

#heading { 
    background-color: tan;
}

.footer {
    text-align: center;
    
    
}

 @font-face { 
    font-family: DMsans;
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
 }

 @font-face {
    font-family: redhat;
    src: url(../font/RedHatDisplay-VariableFont_wght.ttf);
 }

 @font-face {
    font-family: outfit;
    src: url(../font/Outfit-VariableFont_wght.ttf);
 }