* {
    padding: 5px;
}

header {
    background-image: url(../img/bannerdesign.png);
    width: 100%;
    background-size: contain;
   text-align: center;
   align-items: center;
   font-family: outfit;
   background-blend-mode: darken;
}

a {
    padding: 30px;
    text-decoration: none; 
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    text-shadow: 3px  3px 3px black;
}

img {
    width: 150px;
    
}

a:hover {
    color: rgba(192, 59, 57, 2);
}

h1 {
    font-family: DMsans;
    text-align: center;
}

h2 {
    font-family: outfit;
    font-size: 40px;
    text-align: center;
}

.mainParent {
    display: flex;
    flex-direction: row;
    background-color: rgba(2, 159, 101, 0.5);
    justify-content: space-around;
    margin: 70px;
    border-radius: 15px;

}

#tumbler {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(238, 70, 153, 0.3);
    border-radius: 15px;
}

h3 {
    font-family: DMsans;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

h4 {
    text-align: center;
    font-weight: 100;
}


footer {
    background-color: rgba(238, 70, 153, 0.3);
    border: 1px solid ; 
    border-radius: 10px;
    font-family: redhat;
    font-weight: 5px;
 }



#sponsor { 
    width: 134px;
}

.footer {
    text-align: center;
}

 @font-face { 
    font-family: DMsans;
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
 }

 @font-face {
    font-family: redhat;
    src: url(../font/RedHatDisplay-VariableFont_wght.ttf);
 }

 @font-face {
    font-family: outfit;
    src: url(../font/Outfit-VariableFont_wght.ttf);
 }