* {
    padding: 10px;
}


header {
    background-image: url(../img/bannerdesign.png);
    width: 100%;
    background-size: contain;
   text-align: center;
   align-items: center;
   font-family: outfit;
}

a {
    padding: 30px;
    text-decoration: none; 
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    color: black;
}

img {
    width: 134px;
    
}


h2 {
    font-family: outfit;
    font-size: 60px;
    text-align: center;
}

h3 {
    font-family: DMsans;
    text-align: left;
    padding: 30px;
}

h4 {
    text-align: center;
}

footer {
    background-color: rgba(238, 70, 153, 0.3);
    border: 1px solid ; 
    border-radius: 10px;
    font-family: redhat;
 }

#heading { 
    background-color: tan;
}

.footer {
    text-align: center;
}

 @font-face { 
    font-family: DMsans;
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
 }

 @font-face {
    font-family: redhat;
    src: url(../font/RedHatDisplay-VariableFont_wght.ttf);
 }

 @font-face {
    font-family: outfit;
    src: url(../font/Outfit-VariableFont_wght.ttf);
 }